.s1brdf9w{padding:24px;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;text-align:center;}
.sit9ifr{margin:0 auto;width:120px;margin-bottom:12px;}
.s19dzsj{font-size:22px;color:var(--primary);font-weight:600;margin-bottom:8px;}
.si4658o{font-size:16px;}
