.m7bref4{overflow:hidden;}.m7bref4 *::before{-webkit-transform:scale(var(--m7bref4-0));-ms-transform:scale(var(--m7bref4-0));transform:scale(var(--m7bref4-0));}
.hhsfmwy{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100vh;max-height:100vh;box-shadow:inset 0 0 0 2000px rgba(37,56,72,0.3);text-align:center;overflow:hidden;}

